/* Sidebar */
.navmenu-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #d9a8e6;
  display: flex;
  flex-direction: column;
}

/* Estilização do Usuário */
.usuario {
  background: #58246d;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.usuario #href-user[b-wbnmj5liky] {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  filter: invert(100%);
}

.usuario #href-user:hover {
  color: #e4bcf3;
}

.usuario p {
  color: #e4bcf3;
  font-size: 12px;
  margin: 0;
}

/* Menu lateral */
.navmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;
}

/* Estilo aplicado aos links NavLink e <a> */
nav.navmenu .navmenu-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

nav.navmenu > .navmenu-link img {
  margin-right: 10px;
}

nav.navmenu > div.navmenu-link .navmenu-link-content {
  text-decoration: none !important;
}

.navmenu .navmenu-link:hover {
  background: rgba(255, 255, 255, 0.4);
}

.navmenu .navmenu-link img {
  width: 20px;
  height: 20px;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

/* Botões fixados no final */
.bottom-links {
    margin-top: auto; 
    display: flex;
    flex-direction: column;
}

/* Conteúdo principal */
.content {
  flex: 1;
  padding: 45px;
  background-color: #fff;
}

/* Container geral */
.container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.container h1 {
  margin-bottom: 30px;
}

/* Destaque */
.highlight {
  color: #58246d;
}

/* Atalhos */
.nav-atalhos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
}

.nav-atalhos a {
  border: 2px solid #58246d;
  border-radius: 12px;
  width: 200px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  text-align: center;
  color: #111;
}

.nav-atalhos a:hover {
  background-color: #f8f1fc;
}

.nav-atalhos img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.nav-atalhos p {
  font-size: 14px;
  margin: 0;
}

.nav-atalhos a {
    border: 2px solid #58246D;
    border-radius: 12px;
    width: 200px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    text-align: center;
    color: #111;
    text-decoration: none;
}

.nav-atalhos a:hover {
    background-color: #f8f1fc;
}

.nav-atalhos img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.nav-atalhos p {
    font-size: 14px;
    margin: 0;
}