<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SistemaBelezaCrystal</a>
    </div>
</div>

<section class="navmenu-style">
    <!-- Usuário -->
    <div class="usuario">
        <img width="50" height="50" src="IMG/icon-usuario.svg" alt="usuario">
        <div class="info-usuario">
            <span id="href-user">
                <NavLink href="/user">Usuário</NavLink>
            </span>
            <p>Gratuito</p>
        </div>
    </div>

        <nav class="navmenu">
        <div>
            <!-- Menu de Navegação -->
            <NavLink href="/cliente" activeClass="active-link">
                <div class="navmenu-link">
                    <img src="IMG/icon-gestão-clientes.svg" alt="cliente" />
                    Cliente
                </div>
            </NavLink>

            <NavLink href="/funcionario" activeClass="active-link">
                <div class="navmenu-link">
                    <img src="IMG/icon-funcionarios.svg" alt="funcionario" />
                    Funcionário
                </div>
            </NavLink>

            <NavLink href="/produto" activeClass="active-link">
                <div class="navmenu-link">
                    <img src="IMG/icon-gestão-produto.svg" alt="produto" />
                    Produto
                </div>
            </NavLink>

            <NavLink href="/servico" activeClass="active-link">
                <div class="navmenu-link">
                    <img src="IMG/icon-servicos.svg" alt="servico" />
                    Serviço
                </div>
            </NavLink>

            <NavLink href="/agendamento" activeClass="active-link">
                <div class="navmenu-link">
                    <img src="IMG/icon-calendario.svg" alt="agendamento" />
                    Agendamento
                </div>
            </NavLink>

            <NavLink href="/fornecedor/listar" activeClass="active-link">
                <div class="navmenu-link">
                    <img src="IMG/icon-fornecedores.svg" alt="fornecedor" />
                    Fornecedor
                </div>
            </NavLink>

            <NavLink href="/finança" activeClass="active-link">
                <div class="navmenu-link">
                    <img src="IMG/icon-financas.svg" alt="finança" />
                    Vendas e Finança
                </div>
            </NavLink>

            <NavLink href="/relatório" activeClass="active-link">
                <div class="navmenu-link">
                    <img src="IMG/icon-relatorio.svg" alt="relatório" />
                    Relatório
                </div>
            </NavLink>
        </div>

            <!-- Botões fixados embaixo -->
            <div class="bottom-links">
                <NavLink href="/configurações" activeClass="active-link">
                    <div class="navmenu-link">
                        <img src="IMG/icon-config.svg" alt="configurações" />
                        Configurações
                    </div>
                </NavLink>

                <NavLink href="/sair" activeClass="active-link">
                    <div class="navmenu-link">
                        <img src="IMG/icon-logout.svg" alt="sair" />
                        Sair
                    </div>
                </NavLink>
            </div>

        </nav>
</section>