    @page "/Agendamento"

    <PageTitle>Agendamento</PageTitle> 

    <div class="main">
    <div class="topbar">
        <a href="inicio.html">Início</a> 
        <span class="pagina-atual">Cadastrar Agendamento</span>
    </div>
    </div>

