@page "/Agendamento"

<PageTitle>Agendamento</PageTitle>

<div class="main">
    <div class="topbar">
        <a href="inicio.html">Início</a>
        <span class="pagina-atual">Cadastrar Agendamento</span>
    </div>

    <div class="conteudo-cadastro">
        <form class="form-cadastro-agendamento">
            <div class="form-group">
                <label for="cliente">Cliente</label>
                <input type="text" id="cliente" placeholder="Nome Cliente" />
            </div>

            <div class="form-group">
                <label for="servico">Serviço</label>
                <input type="text" id="servico" placeholder="Serviço Escolhido" />
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="data">Data</label>
                    <input type="date" id="data" />
                </div>
                <div class="form-group">
                    <label for="horario">Horário</label>
                    <input type="time" id="horario" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="profissional">Profissional</label>
                <input type="text" id="profissional" placeholder="Nome Profissional" />
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status">
                        <option disabled selected>Escolha uma Opção...</option>
                        <option>Pendente</option>
                        <option>Confirmado</option>
                        <option>Em Andamento</option>
                        <option>Concluído</option>
                        <option>Cancelado</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="observacoes">Observações</label>
                <textarea id="observacoes" rows="4"></textarea>
            </div>

            <div class="campo-form">
                <input type="checkbox" id="domicilio" onchange="toggleEndereco()" />
                <label for="domicilio">Atendimento domiciliar</label>
            </div>

            <div id="enderecoContainer" style="display: none;">
            <div class="campo-nome">
                <label for="endereco">Endereço</label>
                <input type="text" id="endereco" placeholder="Logradouro, Nº" />
            </div>

            <div class="linha-horizontal">
                <div class="campo-form">
                    <label for="bairro">Bairro</label>
                    <input type="text" id="bairro" placeholder="Bairro..." />
                </div>

                <div class="campo-form">
                    <label for="cep">CEP</label>
                    <input type="text" id="cep" placeholder="00000-000" />
                </div>
                </div>
            </div>

            <div class="buttons">
                <button class="submit-button" type="submit">Cadastrar</button>
                <button class="cancel-button" type="submit">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        const checkbox = document.getElementById('domicilio');
        const container = document.getElementById('enderecoContainer');

        function toggleEndereco() {
            container.style.display = checkbox.checked ? 'block' : 'none';
        }

        checkbox.addEventListener('change', toggleEndereco);
        
        toggleEndereco();
    });
</script>