@page "/agendamento/Listar"
@using AppExemplo.Models
@using SistemaBelezaCrystal.Models
@inject AgendamentoDAO agendamentoDAO

<PageTitle>Agendamentos Cadastrados</PageTitle>

<div class="conteudo-lista">
  <h2 class="titulo-lista">Agendamentos Cadastrados</h2>

  <NavLink href="/agendamento">
    <button class="cadastrar-button">
      Cadastrar agendamento
    </button>
  </NavLink>

  @if (agendamentos.Count == 0)
  {
    <div class="mensagem-vazia">
      <p>Ainda não há agendamentos cadastrados.</p>
    </div>
  }
  else
  {
    <table class="tabela-funcionarios">
      <thead>
        <tr>
          <th>#</th>
          <th>Data</th>
          <th>Horário</th>
        </tr>
      </thead>
      <tbody>
        @{
          int contador = 1;
          foreach (var agendamento in agendamentos)
          {
            <tr>
              <td>@contador</td>
              <td>@agendamento.Data.ToString("dd/MM/yyyy")</td>
              <td>@agendamento.Horario</td>
            </tr>
            
            contador++;
          }
        }
      </tbody>
    </table>
  }
</div>

@code {
  private List<Agendamento> agendamentos = new();

  protected override void OnInitialized()
  {
    agendamentos = agendamentoDAO.ListarTodos();
  }
}