.main {
  flex: 1;
  background-color: #f8f8f8;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Arial, sans-serif;
}

.topbar {
  background-color: #d4b5db;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.topbar a {
  color: #58246d;
  text-decoration: none;
  font-weight: bold;
}

.topbar a:hover {
  text-decoration: underline;
  color: #6a0dad;
}

.pagina-atual {
  color: #333;
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80%;
  margin: 0 auto;
}

.label-input {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

input[type="text"] {
  background-color: #e0e0e080;
  border: none;
  border-radius: 0.7rem;
  padding: 0.3rem;
}

#cnpj-tel-insc {
  display: flex;
  gap: 3.5rem;
}

#cnpj-tel-insc > span {
  flex: 1;
}

h3 {
  font-size: 1.3rem;
  text-align: center;
}

fieldset {
  border: 2px solid #111111;
  padding: 1rem;
  width: max-content;
  border-radius: 15px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 5rem;
}

button {
  border: none;
  border-radius: 10px;
  width: max-content;
  padding: 0.5rem 4rem;
  font-size: 1.1rem;
}

.submit-button {
  background-color: #58246d;
  color: white;
}

.cancel-button {
  border: solid 1px #58246d;
  color: #58246d;
  background-color: white;
}

.buttons {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 27px;
}

.situacao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.codigo-situacao {
  display: flex;
  justify-content: space-between;
  align-items: end;
}