@page "/fornecedor/cadastrar"

@rendermode InteractiveServer

@using AppExemplo.Models;
@inject FornecedorDAO fornecedorDAO;
@inject NavigationManager Navigation;

<PageTitle>Cadastrar Fornecedor</PageTitle>

@if (erro != null)
{
  <div class="alert alert-danger">
    @erro
  </div>
}


<EditForm Model="_novoFornecedor" OnSubmit="Salvar">

  <div class="form">
    <div class="topbar">
      <a href="/">Início</a>
      <span class="pagina-atual">Cadastrar Fornecedor</span>
    </div>

    <span class="label-input">
      <label for="nome-fantasia">Nome Fantasia</label>
      <input @bind-value="_novoFornecedor!.NomeFantasia" type="text" class="form-control" name="nome-fantasia" />
    </span>

    <span class="label-input">
      <label for="razao-social">Razão Social</label>
      <input @bind-value="_novoFornecedor!.RazaoSocial" type="text" class="form-control" />
    </span>

    <span class="label-input">
      <label for="proprietario">Proprietário</label>
      <input @bind-value="_novoFornecedor!.Proprietario" type="text" class="form-control" name="proprietario" />
    </span>

    <span id="cnpj-tel-insc">
      <span class="label-input">
        <label for="cnpj">CNPJ</label>
        <input @bind-value="_novoFornecedor!.Cnpj" type="text" class="form-control" name="cnpj" />
      </span>

      <span class="label-input">
        <label for="telefone">Telefone</label>
        <input @bind-value="_novoFornecedor!.Telefone" type="text" class="form-control" name="telefone" />
      </span>

      <span class="label-input">
        <label for="inscricao-estadual">Inscrição Estadual</label>
        <input @bind-value="_novoFornecedor!.InscricaoEstadual" type="text" class="form-control"
          name="inscricao-estadual" />
      </span>
    </span>

    <span class="label-input">
      <label for="email">E-mail</label>
      <input @bind-value="_novoFornecedor!.Email" type="text" class="form-control" name="email" />
    </span>

    <span class="label-input">
      <label for="endereco">Endereço</label>
      <input @bind-value="_novoFornecedor!.Endereco" type="text" class="form-control" name="endereco" />
    </span>

    <span class="label-input">
      <label for="bairro">Bairro</label>
      <input @bind-value="_novoFornecedor!.Bairro" type="text" class="form-control" name="bairro" />
    </span>

    <span class="label-input">
      <label for="cidade">Cidade</label>
      <input @bind-value="_novoFornecedor!.Cidade" type="text" class="form-control" name="cidade" />
    </span>

    <span class="label-input">
      <label for="estado">Estado</label>
      <input @bind-value="_novoFornecedor!.Estado" type="text" class="form-control" name="estado" maxlength="2" />
    </span>

    <span class="label-input">
      <label for="cep">CEP</label>
      <input @bind-value="_novoFornecedor!.Cep" type="text" class="form-control" name="cep" />
    </span>

    <span class="label-input">
      <label for="tributacao">Tributação</label>
      <input @bind-value="_novoFornecedor!.Tributacao" type="text" class="form-control" name="tributacao" />
    </span>

    <span class="label-input">
      <label for="produtos-fornecidos">Produtos Fornecidos</label>
      <input @bind-value="_novoFornecedor!.ProdutosFornecidos" type="text" class="form-control"
        name="produtos-fornecidos" />
    </span>

    <div class="codigo-situacao">
      <span class="label-input">
        <label for="codigo">Código</label>
        <input name="codigo" type="text">
      </span>

      <div class="situacao">
        <h3>Situação</h3>
        <InputRadioGroup @bind-Value="_novoFornecedor!.IdSituacaoFk">
          <fieldset>
            <InputRadio Value=1 /> Ativo
            <br />
            <InputRadio Value=2 /> Inativo
          </fieldset>
        </InputRadioGroup>
      </div>
    </div>

    <div class="buttons">
      <button class="submit-button" type="submit">Cadastrar</button>
      <NavLink href="/fornecedor/listar">
        <button class="cancel-button" type="button">Cancelar</button>
      </NavLink>
    </div>
  </div>

</EditForm>


@code {
  private string? erro = null;

  [SupplyParameterFromForm]
  private SistemaBelezaCrystal.Models.Fornecedor? _novoFornecedor { get; set; } = new();

  private void Salvar()
  {

    try
    {
      if (_novoFornecedor is null || _novoFornecedor.NomeFantasia == "")
      {
        throw new Exception("O campo nome fantasia é obrigatório");
      }

      fornecedorDAO.Inserir(_novoFornecedor);

      Navigation.NavigateTo("/fornecedor/listar");
    }
    catch (Exception ex)
    {
      erro = ex.Message;
    }


  }

}