@page "/"

<PageTitle>Home</PageTitle>

<div class="content">
    <div class="container">
        <h1>Bem-vindo(a), <span class="highlight">usuário!</span></h1>
        <div class="nav-atalhos">
            <a href="/shortcuts1">
                <img src="IMG/Atalho1.svg" alt="atalho1" />
                <p>Atalho 1</p>
            </a>
            <a href="/shortcuts2">
                <img src="IMG/Atalho2.svg" alt="atalho2" />
                <p>Atalho 2</p>
            </a>
            <a href="/shortcuts3">
                <img src="IMG/Atalho3.svg" alt="atalho3" />
                <p>Atalho 3</p>
            </a>
            <a href="/shortcuts4">
                <img src="IMG/Atalho4.svg" alt="atalho4" />
                <p>Atalho 4</p>
            </a>
        </div>
    </div>
</div>