@page "/Produto"

@rendermode InteractiveServer
@using SistemaBelezaCrystal.Models
@inject ProdutoDAO produtoDAO
@inject FornecedorDAO fornecedorDAO
@inject NavigationManager Navigation
@using AppExemplo.Models

<PageTitle>Produto</PageTitle>

@if (erro != null)
{
    <div class="alert alert-danger">
        @erro
    </div>
}

<EditForm Model="_novoProduto" OnValidSubmit="Salvar">
    <div class="main">
        <div class="topbar">
            <a href="/">Início</a>
            <span class="pagina-atual">Cadastrar Produto</span>
        </div>

        <div class="conteudo-cadastro">
            <div class="form-cadastro-produto">
                <div class="form-esquerda">

                    <div class="campo-nome">
                        <label for="nome-produto">Nome</label>
                        <input type="text" @bind="_novoProduto.Nome" id="nome-produto" class="meu-estilo" />
                    </div>

                    <div class="linha-horizontal">
                        <div class="campo-form">
                            <label for="preco-produto">Preço</label>
                            <input type="number" @bind="_novoProduto.Preco" id="preco-produto" step="0.01" placeholder="(R$)" class="meu-estilo" />
                        </div>

                        <div class="campo-form">
                            <label for="validade-produto">Validade</label>
                            <input type="date" @bind="_novoProduto.Validade" id="validade-produto"  class="meu-estilo" />
                        </div>
                    </div>

                    <div class="linha-horizontal">
                        <div class="campo-form">
                            <label for="fornecedor-produto">Fornecedor</label>
                            <select @bind="_novoProduto.IdFornecedorFk" id="fornecedor-produto" class="input-padrao">
                                @foreach (var f in fornecedores)
                                {
                                    <option value="@f.Id">@f.NomeFantasia</option>
                                }
                            </select>
                        </div>

                        <div class="campo-form">
                            <label for="unidade-produto">Unidade</label>
                            <input type="number" @bind="_novoProduto.Unidade" id="unidade-produto" class="meu-estilo" />
                        </div>
                    </div>

                    <div class="linha-horizontal">
                        <div class="campo-form">
                            <label for="marca-produto">Marca</label>
                            <input type="text" @bind="_novoProduto.Marca" id="marca-produto" class="meu-estilo" />
                        </div>

                        <div class="campo-form">
                            <label for="tipo-produto">Tipo</label>
                            <input type="text" @bind="_novoProduto.Tipo" id="tipo-produto" class="meu-estilo" />
                        </div>
                    </div>

                    <div class="linha-horizontal">
                        <div class="campo-form">
                            <label for="estoquemin-produto">Estoque Mínimo</label>
                            <input type="number" @bind="_novoProduto.EstoqueMinimo" id="estoquemin-produto" class="meu-estilo" />
                        </div>
                        <div class="campo-form">
                            <label for="estoquemax-produto">Estoque Máximo</label>
                            <input type="number" @bind="_novoProduto.EstoqueMaximo" id="estoquemax-produto" class="meu-estilo" />
                        </div>
                    </div>

                    <div class="situacao">
                        <h2>Situação</h2>
                        <InputRadioGroup @bind-Value="_novoProduto.IdSituacaoFk">
                            <fieldset>
                                <InputRadio Value="1" /> Ativo
                                <br />
                                <InputRadio Value="2" /> Inativo
                            </fieldset>
                        </InputRadioGroup>
                    </div>

                    <div class="buttons">
                        <button type="submit" class="submit-button">Cadastrar</button>
                        <button type="button" class="cancel-button" @onclick="Cancelar">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private string? erro = null;
    private List<Fornecedor> fornecedores = new();

    private Produto _novoProduto { get; set; } = new();

    protected override void OnInitialized()
    {
        fornecedores = fornecedorDAO.ListarTodos();
    }

    private void Salvar()
    {
        try
        {
            produtoDAO.Inserir(_novoProduto);
            Navigation.NavigateTo("/produto/listar");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }
    }

    private void Cancelar()
    {
        _novoProduto = new Produto();
    }
}
